/* CSS SPECIFIC TO GAME */

.name {
    color: #C00000;
}

.planettext {
    color: #00C000;
    font-weight: bold;
}

.scanner {
  animation: flashinggreen 1s infinite;
}

@keyframes flashinggreen {
  0%   {color: #00c0c0; background: black;}
  50%  {color: black;   background: #00c0c0;}
  100% {color: #00c0c0; background: black;}
}

.addinfo {
    color: #0FF;
}

.tab {
    display: inline-block;
    width: 5.5em;
}

.bigtab {
    display: inline-block;
    width: 7.5em;
}
